/* h1, p {
  font-family: Lato;
} */

body {
  font-family: sans-serif
}

.message-index {
  margin: auto;
  margin-top: 100px;
}

table {
  width: 80%;
}

.page-viewer {
  display:  flex;
  flex-direction: column;
  align-items: center;
}

th {
  text-align: left;
  font-weight: bold;
  padding: 10px 7px;
}

td {
  padding: 7px;
}

.head-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

tr:nth-child(2n) {
  background-color: lavender;
}

td:last-child {
  background-color: white;
}

.paginator {
  margin: 20px;
  display: flex;
  align-items: center;
}

.page-button {
  margin: 10px;
  font-size: 20px;
}

.delete-button {
  background-color: transparent;
}

button {
  color: mediumslateblue;
  
}

.message-list-item button {
  visibility: hidden;
}

.message-list-item:hover button {
  visibility: visible;
}


button:hover {
  color: slateblue;
}

button:active {
  color: darkslateblue;
}

button:focus {
  outline: slateblue;
}